@charset "UTF-8";
/* I do not like Margin-block-chose */
*  {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* VARIABLES */
:root {
    --couleurFondDEcran:rgb(0, 77, 46);
    --couleurFondBoard:#352E29;
    --couleurNode: #B4B4B4; // ##829942;
    --couleurFond : rgb(0, 96, 57);
    --couleurFondBulle : #616161;
    
    --couleurTexte : white;
    --couleurCursor : #FEE180; //#FEE180
}
/* MIXIN */
@function calculateRem($size) {
    $remSize: calc($size / 10px);
    @return #{$remSize}rem;
}
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size)
}


/* SECTION PARTAGÉ ENTRE lES DEUX PAGES*/
.section_context {
    width:80%;
    max-width: 700px;
    margin:auto;
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em 2em;
    gap:12px;
    margin-top: 1em;
    small {
        text-align: center;
    }
}


@import "base/typographie";
@import "base/page_jeu";
@import "base/page_instruction";
@import "base/slider_resume_instruction";

/* TRUC RÉCURENT */
// bouton rond
.btn_bulle {
    appearance: none;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    border: 2px solid var(--couleurTexte);
    background-color: var(--couleurFondBulle) ;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.50);

    max-height:35px;
    min-width:150px;
    margin: auto;
    .svg_bulle {

    }
}
//petite entête de mini section avec l'icone/img/svg à côté
.tete {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display:flex;
    flex-direction:row ;
    gap: 24px;
    //max-width: 300px;
    width: fit-content;

    align-items: center;
    h2 {
        width: 300px;
    }
    img, svg {
        max-width: 70px;
        max-height: 70px;
    }  
}