body {
    background-color: 006039;
    color:#B4B4B4
}
.main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.section_game {
    width:100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;

    padding: auto;
    .scoreBoard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .board_gazon {
        width: 600px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        .row {
            
            display: flex;
            flex-direction: row;
    
            justify-content: space-around;
            div {
                display: flex;
                justify-content: space-around;
                img {
                    width: 75px;
                    height: 75px;
                }
            }
            background: radial-gradient()
            
        }
        
    }
}
.jeton {
    z-index: 20;
    position: absolute;
    display: flex;
    justify-content: space-around;
    img {
        width: 50px;
    }
}
/*@media (min-width:1000px) {
    flex-direction: row;
    .section_scoreBoard , .section_resume {
        max-width: 300px
    }
}*/
.post-it {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .tete {
        display: flex;
        flex-direction: row;
        gap:10px
    }
    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}
.banniere {
    width: 100%;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}
