@charset "UTF-8";
/* I do not like Margin-block-chose */
* {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* VARIABLES */
:root {
  --couleurFondDEcran:rgb(0, 77, 46);
  --couleurFondBoard:#352E29;
  --couleurNode: rgb(180, 180, 180);
  --couleurFond: rgb(0, 96, 57);
  --couleurFondBulle: #616161;
  --couleurTexte: white;
  --couleurCursor: #FEE180;
}

/* MIXIN */
/* SECTION PARTAGÉ ENTRE lES DEUX PAGES*/
.section_context {
  width: 80%;
  max-width: 700px;
  margin: auto;
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2em 2em;
  gap: 12px;
  margin-top: 1em;
}
footer small {
  text-align: center;
}

/* TYPOGRAPHIE, couleur de texte et Font size*/
html {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  background: var(--couleurFondDEcran);
  color: var(--couleurTexte);
  font-family: "Instrument Sans", sans-serif;
  margin: 0px;
  font-size: 1.2rem;
  font-size: 12px;
  /*@media (min-width:1000px) {
      @include fontSize(16px);
  }*/
}

h1, h2 {
  font-family: "Itim", cursive;
}

h3, p, span, small {
  font-family: "Instrument Sans", sans-serif;
}

h1 {
  font-size: 3rem;
  font-size: 30px;
}
@media (min-width: 1000px) {
  h1 {
    font-size: 3.6rem;
    font-size: 36px;
  }
}

h2 {
  font-size: 3rem;
  font-size: 30px;
}
@media (min-width: 1000px) {
  h2 {
    font-size: 3rem;
    font-size: 30px;
  }
}

h3 {
  font-size: 2.8rem;
  font-size: 28px;
}
@media (min-width: 1000px) {
  h3 {
    font-size: 2.8rem;
    font-size: 28px;
  }
}

p, span {
  font-size: 1.4rem;
  font-size: 14px;
}
@media (min-width: 1000px) {
  p, span {
    font-size: 1.6rem;
    font-size: 16px;
  }
}

a {
  color: var(--couleurTexte);
  text-decoration: none;
}

small {
  font-size: 1.8rem;
  font-size: 18px;
}
@media (min-width: 1000px) {
  small {
    font-size: 2rem;
    font-size: 20px;
  }
}

main.page_jeu {
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main.page_jeu .section_game {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
main.page_jeu .section_game .banniere {
  width: 800px;
  max-width: 90%;
  display: flex;
  padding: 0px 2px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  margin: auto;
  background: #868686;
  /*.replis_droite, .replis_gauche {
      margin-top: auto;
  }*/
}
main.page_jeu .section_game .banniere .tour {
  margin: 0.2em auto 0.2em;
  width: 100%;
  text-align: center;
}
main.page_jeu .section_game .banniere .conteneur_bannière {
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  left: 35px;
  margin: auto;
  padding: 10px 15px;
  display: flex;
}
main.page_jeu .section_game .banniere .conteneur_bannière hr {
  height: 25px;
}
main.page_jeu .section_game .banniere .conteneur_bannière .tourChevre, main.page_jeu .section_game .banniere .conteneur_bannière .tourTigre {
  width: 50%;
  height: 45px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 12px;
}
main.page_jeu .section_game .banniere .conteneur_bannière .tourChevre.CURRENT, main.page_jeu .section_game .banniere .conteneur_bannière .tourTigre.CURRENT {
  color: var(--couleurTexte);
  border: 3px solid var(--couleurCursor);
}
main.page_jeu .section_game .banniere .conteneur_bannière .tourChevre .icon_tour, main.page_jeu .section_game .banniere .conteneur_bannière .tourTigre .icon_tour {
  width: auto;
  height: 90%;
}
main.page_jeu .section_game .scoreBoard {
  width: 800px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid var(--couleurTexte);
  border-radius: 12px;
  background-color: var(--couleurFondBoard);
  padding: 12px;
  gap: 20px;
  align-items: center;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 33%;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves p, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise p, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores p {
  font-size: 1.4rem;
  font-size: 14px;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise .liste, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores .liste {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 30px;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste img, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise .liste img, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores .liste img {
  max-width: 20px;
  max-height: 20px;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .containeur_liste {
  width: 100%;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste {
  flex-direction: row;
  height: auto;
  max-height: 20px;
}
main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste img {
  max-width: 10%;
  max-height: 20px;
}
@media (min-width: 1000px) {
  main.page_jeu .section_game .scoreBoard {
    width: 90%;
  }
  main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves p, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise p, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores p {
    font-size: 1.6rem;
    font-size: 16px;
  }
  main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste img, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_imobilise .liste img, main.page_jeu .section_game .scoreBoard .indiquateur_tigres_scores .liste img {
    max-width: 30px;
    max-height: 30px;
  }
  main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves {
    width: 50%;
  }
  main.page_jeu .section_game .scoreBoard .indiquateur_chevres_reserves .liste img {
    max-width: 20px;
    max-height: 20px;
  }
}
main.page_jeu .section_game .board_gazon {
  margin: auto;
  width: 90%;
  height: 90vw;
  /*width: 80vh;
  height: 80vh;
  max-width: 80vw;

  max-height: 80vw;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border-radius: 12px;
  background: var(--couleurFondBoard);
}
@media (min-width: 1000px) {
  main.page_jeu .section_game .board_gazon {
    width: 750px;
    height: 750px;
    max-width: 70vh;
    max-height: 70vh;
  }
}
main.page_jeu .section_game .board_gazon .row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
main.page_jeu .section_game .board_gazon .row .node {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
main.page_jeu .section_game .board_gazon .row .node svg {
  max-width: 130px;
  max-height: 130px;
  margin: auto;
  width: 80%;
  height: 80%;
}
main.page_jeu .section_game .board_gazon .row .node svg * {
  stroke: var(--couleurNode);
  box-shadow: 0px 0px 3px 0px var(--couleurNode);
}
main.page_jeu .section_game .board_gazon .banderole_victoire {
  z-index: 30;
  display: flex;
  width: 100%;
  padding: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 465px;
  margin: auto;
}
main.page_jeu .section_game .board_gazon .banderole_victoire.cache {
  display: none;
}
main.page_jeu .section_game .board_gazon .banderole_victoire .replis_gauche, main.page_jeu .section_game .board_gazon .banderole_victoire .replis_droite {
  height: 75px;
  width: 60px;
}
main.page_jeu .section_game .board_gazon .banderole_victoire .conteneur_banderole {
  display: flex;
  width: 100%;
  max-width: 520px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
}
main.page_jeu .section_game .board_gazon .banderole_victoire .conteneur_banderole .banderole_titre {
  display: flex;
  height: 79px;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  background: #868686;
  border: 1px solid var(--couleurTexte);
  border-radius: 12px;
}
main.page_jeu .section_game .board_gazon .banderole_victoire .conteneur_banderole .banderole_texte {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  background: #868686;
  border: 1px solid var(--couleurTexte);
  border-radius: 12px;
}
/* Pour stocker les noeuds qui vont être recopier dans le plateau */
.hidden_board {
  display: none;
  visibility: hidden;
}

/* INSTRUCTION */
main.page_instruction, .section_titre, .section_chevre, .section_tigre, .section_plateau, .section_trophée, .section_deplacement, .section_debut, .section_plateau {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: baseline;
}

main.page_instruction, .section_titre {
  gap: 40px;
  align-items: center;
}

main.page_instruction {
  padding: 0px 40px;
  display: flex;
  flex-wrap: wrap;
}
main.page_instruction .section_chevre, main.page_instruction .section_tigre, main.page_instruction .section_plateau, main.page_instruction .section_trophée, main.page_instruction .section_deplacement, main.page_instruction .section_debut {
  gap: 12px;
  border: 2px solid var(--couleurTexte);
  border-radius: 12px;
  background-color: var(--couleurFond);
  padding: 20px;
}
main.page_instruction .containeur_commencement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main.page_instruction .containeur_commencement .section_debut, main.page_instruction .containeur_commencement .section_deplacement {
  max-width: 1000px;
}
main.page_instruction .section_plateau {
  align-items: center;
}
main.page_instruction .section_plateau .containeur_gauche {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main.page_instruction .section_plateau .containeur_gauche ol {
  margin: 0px;
}
main.page_instruction .section_plateau .containeur_gauche ol li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main.page_instruction .section_plateau .containeur_gauche ol li .demo {
  width: 120px;
  max-height: 120px;
}
main.page_instruction .section_plateau .plateau {
  max-width: 450px;
  max-height: 450px;
}
@media (min-width: 1000px) {
  main.page_instruction .section_plateau {
    flex-direction: row;
  }
}
@media (min-width: 1800px) {
  main.page_instruction {
    flex-direction: row;
  }
  main.page_instruction .section_plateau, main.page_instruction .containeur_commencement .section_debut, main.page_instruction .containeur_commencement .section_deplacement {
    max-width: 800px;
  }
}
main.page_instruction .containeur_animaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main.page_instruction .containeur_animaux .section_chevre {
  background: rgba(90, 90, 90, 0.5);
}
main.page_instruction .containeur_animaux .section_tigre {
  background: rgba(255, 218, 95, 0.1);
}
@media (min-width: 1000px) {
  main.page_instruction .containeur_animaux {
    flex-direction: row;
  }
  main.page_instruction .containeur_animaux section {
    width: 40%;
    max-width: 900px;
    height: fit-content;
  }
}

.section_resume {
  margin: auto;
  width: 100%;
}
.section_resume .switch_slider, .section_resume .spaceur, .section_resume .arrow {
  display: none;
}
.section_resume .containeur_resume, .section_resume .spaceur {
  border: 1px solid var(--couleurTexte);
  border-radius: 12px;
  background-color: var(--couleurFond);
  padding: 12px;
}
.section_resume .containeur_resume {
  gap: 12px;
  width: 80%;
  margin: auto;
}
.section_resume .containeur_resume .slider {
  display: flex;
  justify-content: space-around;
}
.section_resume .containeur_resume .instruction {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.section_resume .containeur_resume .instruction .post-it {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

/* Fonctionnalité du slider lorsque en mode Table */
@media (min-width: 1400px) {
  main.page_jeu {
    flex-direction: row;
    gap: 0px;
  }
  main.page_jeu .section_resume {
    position: absolute;
    top: 40vh;
    left: 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: flex;
    flex-direction: row;
    gap: -3px;
    margin-left: 0px;
  }
  main.page_jeu .section_resume * {
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  main.page_jeu .section_resume .spaceur, main.page_jeu .section_resume .containeur_resume {
    background-color: var(--couleurFond);
    border-left: none;
    border-radius: 0px 12px 12px 0px;
    border-top: 1px solid var(--couleurTexte);
    border-bottom: 1px solid var(--couleurTexte);
    border-right: 1px solid var(--couleurTexte);
    transform-origin: 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  main.page_jeu .section_resume .spaceur {
    display: block;
    width: 45px;
    min-height: 400px;
  }
  main.page_jeu .section_resume .containeur_resume {
    width: 200px;
    transform-origin: 0;
    margin: 10px 0px 10px -2px;
    height: fit-content;
  }
  main.page_jeu .section_resume .containeur_resume .slider {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 45px;
  }
  main.page_jeu .section_resume .containeur_resume .slider h2, main.page_jeu .section_resume .containeur_resume .slider .arrow {
    margin-top: auto;
    margin-bottom: auto;
  }
  main.page_jeu .section_resume .containeur_resume .slider .arrow {
    transform-origin: 50% 50%;
    display: block;
    width: 30px;
    height: 30px;
  }
  main.page_jeu .section_resume .containeur_resume .instruction {
    display: none;
  }
  main.page_jeu:has(.switch_slider:checked) .section_resume {
    width: 30%;
    top: 0px;
    position: relative;
  }
  main.page_jeu:has(.switch_slider:checked) .section_resume .containeur_resume {
    width: 400px;
  }
  main.page_jeu:has(.switch_slider:checked) .section_resume .containeur_resume .slider {
    width: 100%;
  }
  main.page_jeu:has(.switch_slider:checked) .section_resume .containeur_resume .slider .arrow {
    transform: rotate(180deg);
  }
  main.page_jeu:has(.switch_slider:checked) .section_resume .containeur_resume .instruction {
    display: flex;
  }
  main.page_jeu:has(.switch_slider:checked) .section_game {
    width: 70%;
  }
}

.node.focused_70 {
  background: radial-gradient(var(--couleurNode) -30%, rgba(193, 193, 193, 0) 70%);
}
.node.focused_50 {
  background: radial-gradient(var(--couleurNode) -30%, rgba(193, 193, 193, 0) 50%);
}
.node.focused_30 {
  background: radial-gradient(var(--couleurNode) -30%, rgba(193, 193, 193, 0) 30%);
}

.jeton {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.jeton .behind {
  border-radius: 100px;
  margin: auto;
  max-width: 50%;
  max-height: 50%;
  width: 75px;
  height: 75px;
}
.jeton .behind img, .jeton .behind .texte {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
  -webkit-mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, 0.5) 50%, #000 75%);
  mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, 0.5) 50%, #000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}
.jeton .behind .texte {
  /*height: 30px;
  width: 30px;*/
  background-color: var(--couleurCursor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 3.5rem;
  font-size: 35px;
  margin: auto;
}
.jeton .behind img {
  visibility: none;
  display: none;
}
.jeton.chevre .behind img {
  src: url(img/Chevre/Male.svg);
  visibility: none;
  display: block;
}
.jeton:hover .behind {
  background: rgb(255, 255, 255);
}
.jeton:hover .behind img, .jeton:hover .behind .texte {
  transition: mask-position 2s ease, -webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}
@media (min-width: 800px) {
  .jeton .behind {
    min-width: 40%;
    min-height: 40%;
    width: 45px;
    height: 45px;
  }
  .jeton .behind .texte {
    visibility: none;
    display: none;
  }
  .jeton .behind img {
    display: block;
  }
  .jeton.bordered .behind {
    min-width: 45% !important;
    min-height: 45% !important;
    width: 50px;
    height: 50px;
  }
  .jeton:hover .behind img {
    background: var(--couleurFondBoard);
  }
}

/* TRUC RÉCURENT */
.btn_bulle {
  appearance: none;
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--couleurTexte);
  background-color: var(--couleurFondBulle);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
  max-height: 35px;
  min-width: 150px;
  margin: auto;
  color: var(--couleurTexte);
}
.tete {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: fit-content;
  align-items: center;
}
.tete h2 {
  min-width: 300px;
}
.tete img, .tete svg {
  max-width: 70px;
  max-height: 70px;
}/*# sourceMappingURL=style.css.map */