//lien Vers la page d'intruction
.btn_revenir, .btn_aller {
    background-color: var(--couleurCursor);
    color: black;
    svg path{
        fill: black;
    }
}
.btn_revenir{
    margin-top: 2em !important;
    margin-left: 20% !important; 
}

/* INSTRUCTION */ 

 main.page_instruction, .section_titre , .section_chevre, .section_tigre, .section_plateau, .section_trophée, .section_deplacement, .section_debut, .section_plateau {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: center;
    align-items: baseline;
    section {
        .tete {
            max-width: none;
            display: flex;
            //margin: 0px;
            gap:10px;
            h2 {
                min-width: 0px;
            }
        }
    }
}
main.page_instruction, .section_titre {
    gap: 40px;
    align-items: center;
}
main.page_instruction {
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    .section_chevre, .section_tigre, .section_plateau, .section_trophée, .section_deplacement, .section_debut {
        gap:12px;
        border: 2px solid var(--couleurBorder);
        border-radius: 12px;
        background-color: var(--couleurFond);
        padding: 20px;
    }
    .containeur_commencement {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .section_debut , .section_deplacement {
            max-width: 1000px;
        }
    }
    
    .section_plateau {
        align-items: center;
        .containeur_gauche {
            display: flex;
            max-width: 600px;
        flex-direction: column;
            align-items: center;
            gap: 20px;
            ol {
                margin: 0px;
                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap:10px;
                    .demo {
                        width: 120px;
                        max-height: 120px;
                    }
                }
            }
        }
        .plateau {
            max-width: 450px;
            max-height: 450px;
        }
        @media (min-width:1000px) {
            flex-direction: row;
        }
    }
    
    @media (min-width:1800px) {
        flex-direction: row;
        .section_plateau, .containeur_commencement .section_debut, .containeur_commencement .section_deplacement {
            max-width: 800px;
        }
        
    }

    .containeur_animaux {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        section {
            .tete {
                max-width: none;
                display: flex;
                //margin: 0px;
                gap:10px;
                h2 {
                    min-width: 0px;
                }
                img, svg {
                    max-width:10%;
                }
            }
        }
        .section_chevre {
            border: 8px solid var(--couleurProie);
        }
        .section_tigre {
            border: 8px solid var(--couleurPredateur);
        }
        @media (min-width:1000px) {
            flex-direction: row;
            section {
                width: 40%;
                max-width: 900px;
                height: fit-content;
            }
        }
        
    }
}
