/* TYPOGRAPHIE, couleur de texte et Font size*/
html {
    font-size: 62.5%;
    font-size: 10px;
}
body {
    background: var(--couleurFondDEcran);
    color: var(--couleurTexte);
    font-family: "Instrument Sans", sans-serif;
    margin: 0px;
    @include fontSize(12px);
    /*@media (min-width:1000px) {
        @include fontSize(16px);
    }*/
}
h1, h2 {
    font-family: "Itim", cursive;
}
h3, p, span , small {
    font-family: "Instrument Sans", sans-serif;
}
h1 {
    @include fontSize(30px);
    @media (min-width:1000px) {
        @include fontSize(36px);
    }
}
h2 {
    @include fontSize(30px);
    @media (min-width:1000px) {
        @include fontSize(30px);
    }
}
h3 {
    @include fontSize(28px);
    @media (min-width:1000px) {
        @include fontSize(28px);
    }
}
p, span {
    @include fontSize(14px);
    @media (min-width:1000px) {
        @include fontSize(16px);
    }
}
a {
    color : var(--couleurTexte);
    text-decoration: none;
    &.hyperlien {
        text-decoration: underline;
    }
}
small {
    @include fontSize(12px);
    @media (min-width:1000px) {
        @include fontSize(14px);
    }
}